body {
  height: 100dvh;
  width: 100dvw;

  margin: 0;
}

main {
  height: 100dvh;
  width: 100dvw;

  display: flex;
  justify-content: center;

  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

main > .container {
  display: flex;
  flex: 1;
  flex-direction: column;
  position: relative;
}

@media screen and (min-width: 800px) {
  main > .container {
    padding: 2rem;
    max-width: 800px;
  }
}

main > .container > .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;

  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #fafafafa;
  white-space: nowrap;
}

@media screen and (min-width: 800px) {
  main > .container > .header {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

main > .container > .round-image {
  flex: 1;
  position: relative;

  background-color: #fafafafa;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

main > .container > .round-start {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;

  background-color: #fafafafa;
  text-align: center;
  padding: 2rem;
}

@media screen and (min-width: 800px) {
  main > .container > .round-start {
    padding: 10rem;
  }
}

main > .container > .round-image > .round-correct,
main > .container > .round-image > .round-incorrect {
  flex: 1;
  justify-content: center;
  align-items: center;

  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;

  font-weight: 500;
  font-size: 1.5rem;
}

main > .container > .round-image > .round-correct > h1 {
  color: green;
  background-color: black;
}
main > .container > .round-image > .round-incorrect > h1 {
  color: red;
  background-color: black;
}

main > .container > .round-action {
  display: flex;
  flex-direction: row;
}

main > .container > .round-action > .round-button,
main > .container > .round-next > .round-button {
  border: 0;
  margin: 0;
  inset: 0;

  height: 4rem;
  max-height: 4rem;
  flex: 1;
  cursor: pointer;
}

main > .container > .round-action > .round-button > span,
main > .container > .round-next > .round-button > span {
  font-size: 2rem;
  font-weight: 500;
}

main > .container > .round-action > .round-button > span {
  color: white;
  background-color: black;
}

main > .container > .round-action > .round-action-dutton {
  background-color: black;
  background-image: url("./images/dutton.jpg");
  color: white;
}

main > .container > .round-action > .round-action-voldemort {
  background-color: black;
  background-image: url("./images/voldemort.jpeg");
  color: white;
}

main > .container > .round-next > .round-action-next {
  background-color: blue;
  color: white;
}

main > .container > .round-image > .round-correct,
main > .container > .round-image > .round-incorrect,
main > .container > .round-next,
main > .container > .round-action,
main > .container > .header > .header-score,
main > .container > .round-image {
  display: none;
}

.github-icon {
  height: 30px;
  width: 30px;
  position: absolute;
  right: 0;
  bottom: 0;
}
